/* components/AdminPage.css */
.admin-page {
    display: flex;
  }
  
  .admin-page-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .content-container {
    margin-top: 20px;
  }
  