/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/login/login.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.login_container__dKYZP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login_form__Ij6Df {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login_title__7huBn {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.login_input__Y4JR4 {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login_submit__ajKqa {
  width: 100%;
  padding: 10px;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login_reset__xOuIE {
  width: 100%;
  padding: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


.login_presentation__OG8TU {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.login_getPresentation__z41eI {
  width: 100%;
  padding: 10px;
  background: #00cc66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


.login_signupText__Ko7hM {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}


.login_link__xjylW {
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.login_link__xjylW:hover {
  text-decoration: underline;
}

